<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANodOKEhmktZdSBbUGD1d84UHohEjtnEg</string>
	<key>GCM_SENDER_ID</key>
	<string>938192671646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zed932.NetPulse</string>
	<key>PROJECT_ID</key>
	<string>netpulse-75ea3</string>
	<key>STORAGE_BUCKET</key>
	<string>netpulse-75ea3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938192671646:ios:0bb4aaf4149dba25057c8f</string>
</dict>
</plist>